.page-header
  %h1 
    Guias
    %small de Remision

= link_to 'Crear Guia', new_guia_path, class: 'btn btn-primary'
%br
%br
.row
  .col-sm-12
    .table-responsive.table-bordered.table-condensed.table-hover
      %table.table
        %tr.well
          %th Numero guia
          %th Fecha emision
          %th Fecha traslado      
          %th Acciones

        - @guias.each do |guia|
          %tr
            %td= guia.numero_guia_id
            %td= guia.fecha_emision
            %td= guia.fecha_traslado        
            %td
              = link_to 'Ver', guia, class: 'btn btn-info'              
              = link_to 'Editar', edit_guia_path(guia), class: 'btn btn-success'
              = link_to 'Eliminar', guia, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'



