#region-departamentos.container

  .region
    .region-title
      %h1= page_title!('departamentos')

    .region
      .admin-control
        = link_to 'Crear Departamento', new_departamento_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Nombre
            %th
            %th
            %th

          - @departamentos.each do |departamento|
            %tr
              %td= departamento.nombre
              %td= link_to 'Ver', departamento, class: 'btn btn-info'
              %td= link_to 'Editar', edit_departamento_path(departamento), class: 'btn btn-success'
              %td= link_to 'Eliminar', departamento, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
