.page-header
  %h1 
    Principal
    %b Destinatarios
= link_to 'Crear Destinatario', new_destinatario_path, class: 'btn btn-primary'
          
%br
%br
.table-responsive
  %table.table
    %tr
      %th Nombre razon
      %th Ruc
      %th Dni
      %th Acciones
      
      

    - @destinatarios.each do |destinatario|
      %tr
        %td= destinatario.nombre_razon
        %td= destinatario.ruc
        %td= destinatario.dni
        %td
          = link_to 'Ver', destinatario, class: 'btn btn-info'              
          = link_to 'Editar', edit_destinatario_path(destinatario), class: 'btn btn-success'
          = link_to 'Eliminar', destinatario, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
