= form_for @placa, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @placa.errors.any?
    #error_explanation
      %h2= "#{pluralize(@placa.errors.count, "error")}"
      %ul
        - @placa.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :nombre, class: 'col-sm-2 control-label'
    .col-sm-3
      = f.text_field :nombre, class: 'form-control'
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
    - if params[:action] == 'new'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
    - if params[:action] == 'edit'
      = link_to 'Ver', @placa, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
