.page-header
  %h1
    Principal
    %b Placas
= link_to 'Crear Placa', new_placa_path, class: 'btn btn-primary'
%br
%br
.table-responsive
  %table.table
    %tr
      %th Nombre
      %th Acciones     

    - @placas.each do |placa|
      %tr
        %td= placa.nombre
        %td
          = link_to 'Ver', placa, class: 'btn btn-info'        
          = link_to 'Editar', edit_placa_path(placa), class: 'btn btn-success'
          = link_to 'Eliminar', placa, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
