.page-header
  %h1 
    Principal
    %b Remitentes

= link_to 'Crear Remitente', new_remitente_path, class: 'btn btn-primary'
%br
%br
.table-responsive
  %table.table
    %tr
      %th Nombre razon
      %th Ruc
      %th Dni
      %th Acciones
      
      

    - @remitentes.each do |remitente|
      %tr
        %td= remitente.nombre_razon
        %td= remitente.ruc
        %td= remitente.dni
        %td
          = link_to 'Ver', remitente, class: 'btn btn-info'      
          = link_to 'Editar', edit_remitente_path(remitente), class: 'btn btn-success'
          = link_to 'Eliminar', remitente, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
