.page-header
  %h1 Remitente

%p
  %b Nombre razon:
  = @remitente.nombre_razon
%p
  %b Ruc:
  = @remitente.ruc
%p
  %b Dni:
  = @remitente.dni

%h3 Direcciones

- @remitente.remitente_direcciones.each do |remitente_direccione|
  = remitente_direccione.direccion
  %br
%br
= link_to 'Editar', edit_remitente_path(@remitente), class: 'btn btn-success'
= link_to 'Regresar', remitentes_path, class: 'btn btn-warning'
