.page-header
  %h1 
    Provincias
.row
  .col-sm-8
    = link_to 'Crear Provincia', new_provincia_path, class: 'btn btn-primary'
    %br
    %br
    .table-responsive
      %table.table
        %tr
          %th Nombre
          %th Departamento
          %th Acciones          

        - @provincias.each do |provincia|
          %tr
            %td= provincia.nombre
            %td= provincia.departamento_id
            %td
              = link_to 'Ver', provincia, class: 'btn btn-info'            
              = link_to 'Editar', edit_provincia_path(provincia), class: 'btn btn-success'
              = link_to 'Eliminar', provincia, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'