#region-provincias.container
  .region
    .region-title
      %h1= page_title!('provincia')

  .region
    %p
      %b Nombre:
      = @provincia.nombre
    %p
      %b Departamento:
      = @provincia.departamento_id

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_provincia_path(@provincia), class: 'btn btn-success'
    = link_to 'Regresar', provincias_path, class: 'btn btn-warning'
